@model List<ASPNETAOP.Models.AdminTransmitterList>

@{
    ViewData["Title"] = "TransmitterList";
}

<h1>Transmitter List</h1>

<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>Transmitter Name</th>
    </tr>
    @foreach (var radar in Model)
    {
        <tr>
            <td>@radar.transmitterName</td>
        </tr>
    }
</table>

<div>
    <a asp-action="TransmitterEdit">Edit transmitters</a>
</div>