@{
    ViewData["Title"] = "Done";
}

<style>
    .p1 {
        font-family: "Times New Roman", Times, serif;
        color: blue;
        font-size: large;
    }
    .p2 {
        font-family: "Times New Roman", Times, serif;
        color: black;
    }

</style>
<div class="text-center">
    <p class="p1">NEW RADAR ADDED SUCCESSFULLY</p>
</div>
<div>
    <p class="p2">
        <a asp-area="" asp-controller="Receiver" asp-action="NewReceiver">If you want to add new radar click here</a>
    </p>
    <span style='font-size:100px;'>&#129312;</span>
</div>