@{
    ViewData["Title"] = "Done";
}

<style>
    h6 {
        display: block;
        font-size: 4.67em;
        margin-top: 2em;
        margin-bottom: 2em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
        color: blue;
    }
</style>
<div class="text-center">
    <h6 class="display-4">NEW RADAR @Datas.Radar.ID ADDED</h6>
</div>
<div>
    <h5 class="display-4">If you want to add new radar click </h5>
    <a class="nav-link text-dark" asp-area="" asp-controller="AddReceiver" asp-action="NewReceiver">HERE</a>
</div>