@model ASPNETAOP.Models.Transmitter

@{
    ViewData["Title"] = "NewTransmitter";
}

<h1>Add Transmitter</h1>

<hr />
<div class="row">
    <div class="col-md-9">
        <form asp-action="NewTransmitter">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" type="text">
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="modulation_type" class="control-label"></label>
                <select asp-for="modulation_type" class="form-select" aria-label="Default select example">
                    <option selected>Select the modulation type</option>
                    <option value="AM-amplitude modulation">AM-amplitude modulation</option>
                    <option value="FM-frequency modulation">FM-frequency modulation</option>
                    <option value="FSK-frequency shift keying">FSK-frequency shift keying</option>
                    <option value="OFDM-orthogonal frequency division multiplexing">OFDM-orthogonal frequency division multiplexing</option>
                </select>
                <span asp-validation-for="modulation_type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="max_frequency" class="control-label"></label>
                <input asp-for="max_frequency" class="form-control" type="number" placeholder="0">
                <span asp-validation-for="max_frequency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="min_frequency" class="control-label"></label>
                <input asp-for="min_frequency" class="form-control" type="number" placeholder="0">
                <span asp-validation-for="min_frequency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="power" class="control-label"></label>
                <input asp-for="power" class="form-control" type="number" placeholder="0">
                <span asp-validation-for="power" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
            <b>@Data.message</b>
            @{ Data.message = null; }
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}