@model ASPNETAOP.Models.Radar

@{
    ViewData["Title"] = "Edit";
}

<h1>Permission Edit</h1>

<hr />
<div class="row">
    <div class="col-md-9">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ID" class="control-label"></label>

                @{
                    Radar radar = ASPNETAOP.Models.RadarGeneral.currentRadarGeneral.Radar;
                    <input asp-for="ID" class="form-control" type="text" placeholder="@radar.ID">
                }
                <span asp-validation-for="ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="transmitter_id" class="control-label"></label>
                <input asp-for="transmitter_id" class="form-control" />
                <span asp-validation-for="transmitter_id" class="text-danger"></span>
            </div>
            <div>
                <a asp-controller="AdminTransmitterList" asp-action="TransmitterEdit">Edit transmitter</a>
            </div>
            <div class="form-group">
                <label asp-for="receiver_id" class="control-label"></label>
                <input asp-for="receiver_id" class="form-control" />
                <span asp-validation-for="receiver_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="location_id" class="control-label"></label>
                <input asp-for="location_id" class="form-control" />
                <span asp-validation-for="location_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
            <b>@ViewData["Message"]</b>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
