@model ASPNETAOP.Models.Submode

@{
    ViewData["Title"] = "NewSubmode";
}

<h1>Add Submode</h1>

<hr />
<div class="row">
    <div class="col-md-9">
        <form asp-action="NewSubmode">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" type="text">
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PW" class="control-label"></label>
                <input asp-for="PW" class="form-control" type="number" placeholder="00.00" step="0.01">
                <span asp-validation-for="PW" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PRI" class="control-label"></label>
                <input asp-for="PRI" class="form-control" type="number" placeholder="00.00ns" step="0.01">
                <span asp-validation-for="PRI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="min_frequency" class="control-label"></label>
                <input asp-for="min_frequency" class="form-control" type="number" placeholder="0">
                <span asp-validation-for="min_frequency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="max_frequency" class="control-label"></label>
                <input asp-for="max_frequency" class="form-control" type="number" placeholder="0">
                <span asp-validation-for="max_frequency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
