@model ASPNETAOP.Models.UserRegister

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>UserRegister</h4>
<hr />
<div class="row">
    <div class="col-md-9">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usermail" class="control-label"></label>
                <input asp-for="Usermail" class="form-control" />
                <span asp-validation-for="Usermail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Userpassword" class="control-label"></label>
                <input asp-for="Userpassword" class="form-control" />
                <span asp-validation-for="Userpassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmUserpassword" class="control-label"></label>
                <input asp-for="ConfirmUserpassword" class="form-control" />
                <span asp-validation-for="ConfirmUserpassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <b>@ViewData["Message"]</b>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
