@model ASPNETAOP.Models.Antenna

@{
    ViewData["Title"] = "NewAntenna";
}

<h1>Add Antenna</h1>

<hr />
<div class="row">
    <div class="col-md-9">
        @{ String newProgram = Datas.newProgram; }
        @{ var receiver_id = Datas.Receiver.ID; }
        @{ Guid? transmitter_id = null;
            if (Datas.Transmitter != null)
                transmitter_id = (Guid)Datas.Transmitter.ID;
        }
        <form asp-action="NewAntenna">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="type" class="control-label"></label>
                <select asp-for="type" class="form-select" aria-label="Default select example">
                    <option selected>Select the type of antenna</option>
                    <option value="parabolic">parabolic</option>
                    <option value="cassegrain">cassegrain</option>
                    <option value="phased array">phased array</option>
                </select>
                <span asp-validation-for="type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" type="text">
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="horizontal_beamwidth" class="control-label"></label>
                <input asp-for="horizontal_beamwidth" class="form-control" type="number" placeholder="00.00" step="0.01" pattern="^\d+(?:\.\d{2,2})?$" onblur="this.parentNode.parentNode.style.backgroundColor=/^\d+(?:\.\d{2,2})?$/.test(this.value)?'inherit':'red'">
                <span asp-validation-for="horizontal_beamwidth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vertical_beamwidth" class="control-label"></label>
                <input asp-for="vertical_beamwidth" class="form-control" type="number" placeholder="00.00" step="0.01" pattern="^\d+(?:\.\d{2,2})?$" onblur="this.parentNode.parentNode.style.backgroundColor=/^\d+(?:\.\d{2,2})?$/.test(this.value)?'inherit':'red'">
                <span asp-validation-for="vertical_beamwidth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="polarization" class="control-label"></label>
                <input asp-for="polarization" class="form-control" />
                <span asp-validation-for="polarization" class="text-danger"></span>
            </div>
            @if (newProgram.Equals("no"))
            {
            <div class="form-group">
                <label asp-for="number_of_feed" class="control-label"></label>
                <input asp-for="number_of_feed" class="form-control" type="number" placeholder="0" step="1" />
                <span asp-validation-for="number_of_feed" class="text-danger"></span>
            </div>
            }
            <div class="form-group">
                <label asp-for="horizontal_dimension" class="control-label"></label>
                <input asp-for="horizontal_dimension" class="form-control" type="number" placeholder="000.00" min="0" step="0.01" pattern="^\d+(?:\.\d{3,2})?$" onblur="this.parentNode.parentNode.style.backgroundColor=/^\d+(?:\.\d{4,2})?$/.test(this.value)?'inherit':'red'">
                <span asp-validation-for="horizontal_dimension" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vertical_dimension" class="control-label"></label>
                <input asp-for="vertical_dimension" class="form-control" type="number" placeholder="000.00" min="0" step="0.01" pattern="^\d+(?:\.\d{3,2})?$" onblur="this.parentNode.parentNode.style.backgroundColor=/^\d+(?:\.\d{4,2})?$/.test(this.value)?'inherit':'red'">
                <span asp-validation-for="vertical_dimension" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="duty" class="control-label"></label>
                <select asp-for="duty" class="form-select" aria-label="Default select example">
                    @if (newProgram.Equals("yes"))
                    {
                        <option selected>receiver</option>
                    }
                    else if (newProgram.Equals("no"))
                    {
                        <option selected>transmitter</option>
                    }
                    <option value="both">both</option>
                </select>
                <span asp-validation-for="duty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="location" class="control-label"></label>
                <input asp-for="location" class="form-control" type="text">
                <span asp-validation-for="location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
            <b>@ViewData["Message"]</b>
        </form>
    </div>
</div>

<div>
    @if (newProgram.Equals("no"))
    {
        <input type="button" title="Next" value="Next" onclick="location.href='@Url.Action("GoToRadar", "Antenna")'" />
    }
    else
    {
        <input type="button" title="Next" value="Next" onclick="location.href='@Url.Action("GoToTransmitter", "Antenna")'" />
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}